# Option 1: Supabase client (local server)
SUPABASE_URL=http://187.77.12.130:8010
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzcyNzQ0NDAwLCJleHAiOjE5MzA1MTA4MDB9.v7CsyI5_sY-H-3lpjpeswJJcNRH9q9L1U3CcyxainHE

# Option 2: Direct PostgreSQL connection
DATABASE_URL=postgresql://postgres:Hello@!Michael@187.77.12.130:5433/postgres

# Option 3: Supabase cloud (alternative)
EXPO_PUBLIC_SUPABASE_URL=https://farifdvipqewppgbwng.supabase.co
EXPO_PUBLIC_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZhcmlmZHZpcGVxcGFnYnduZyIsInJvbGUiOiJhbm9uIiwiaWF0IjoxNzE2OTM5OTk5LCJleHAiOjIwMzIyMTU5OTl9.ZSI6InJpb2ZpbGRpZHB3cGdwYnduZyIsInN1YiI6InB1YmxpY2F0aW9uIn0.YBZPv6tI4X8AEao_p3Xn40GS
SUPABASE_URL=https://farifdvipqewppgbwng.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZhcmlmZHZpcGVxcGFnYnduZyIsInJvbGUiOiJhbm9uIiwiaWF0IjoxNzE2OTM5OTk5LCJleHAiOjIwMzIyMTU5OTl9.ZSI6InJpb2ZpbGRpZHB3cGdwYnduZyIsInN1YiI6InB1YmxpY2F0aW9uIn0.YBZPv6tI4X8AEao_p3Xn40GS
GOOGLE_DRIVE_FOLDER_ID=1ejjmQcM6gJ7u5BVNmm3361sxq27JU
GOOGLE_DRIVE_CREDENTIALS=service-account-drive.json
